@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import "layout/fonts";
@import "layout/form--2";
@import "layout/resets";
html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: url('../assets/img/pentagon.png');
	background-position: center;
	background-repeat: repeat;
	transition: .2s ease-in-out
}

.wrapper {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto
}

.container_flex-row {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.main {
	z-index: $content-zindex;
	float: right;
	width: 78%;
	margin-top: 150px
}

@include waves-light( $second-elm, $ripple-opacity );

//	Import Sections
@import 'sections/header';
@import 'sections/footer';
@import 'sections/sidebar';
@import 'sections/webeor'
