@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';

.catalogue {
	margin: auto
}

.product {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: center;
	width: 30%;
	padding: 20px;
	margin: 1vh;
	transition: .3s ease-in;
	cursor: default;
	@include MDShadow-1;
	&:hover {
		@include MDShadow-2;
	}
	&__title {
		font-size: 1.5rem;
	}
	&__image {
		margin: 20px 0 10px;
		max-width: 250px;
		background-size: contain;
	}
	&__description {}
	&__order {
		overflow: hidden;
		vertical-align: middle;
		-moz-user-select: none;
		height: 2.5em;
		padding: 0 1.5em;
		margin-top: .5rem;
		color: $main-elm;
		line-height: 2.5em;
		letter-spacing: .5px;
		background-color: rgba($second-elm, .8);
		cursor: pointer;
		border: none;
		border-radius: 2px;
		transition: .3s ease-in;
		&:hover {
			@include MDShadow-2;
		}
	}
}
