@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';
.footer {
	padding: 0 8%
}

.social {
	flex: 1 1 49%;
}

.feedback {
	flex: 1 1 49%;
}

.requisites {
	display: flex;
	flex: 1 1 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
	&__column {}
	&__list {}
	&__name {}
	&__item {}
	&__text {}
	&__mail {}
}
