@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';
.sidebar {
	position: fixed;
	width: 17%;
	height: auto;
	margin-top: 150px;
	transition: .2s ease-in-out;
	&_scrolled {
		height: auto;
		background: white;
		@include MDShadow-2;
	}
	&__list {}
	&__item {
		display: block;
		font-family: $second-font;
		font-size: 18px;
		line-height: 28px;
		text-decoration: none;
		color: $second-elm;
		padding: 10px 0 10px 15px;
		border-left: solid 4px transparent;
		box-shadow: 0 0 10px transparent;
		transition: .2s ease-in-out;
		&:hover {
			color: $slider-elms;
			background: white;
			border-color: $slider-elms;
			@include MDShadow-2;
		}
		&_active {
			font-family: $second-font;
			color: $slider-elms;
			border-left: solid 4px $slider-elms;
		}
		&_clear {
			height: 48px;
			cursor: auto;
			&:hover {
				color: $slider-elms;
				background: transparent;
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}
