@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';
@import "../libs/burger";

.menu-button {
	position: fixed;
	display: inline-block;
	z-index: 100;
	bottom: auto;
	padding: 22px 16px;
	background-color: $second-elm;
	@include MDShadow-3;
	border-radius: 50%;
	transform: translate(-170%, 0%);
	transition: .5s $material;
	&.is-active {
		transform: translate(55%, 145%);
		@include MDShadow-4
	}
}

.burger-icon {
	@include burger(30px, 3px, 5px, $main-elm);
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}

.sidebar {
	position: fixed;
	display: inline-block;
	@include center($xy: y);
	width: 250px;
	height: auto;
	margin-left: 5px;
	background-color: white;
	transform: translate(-170%, -50%);
	transition: .5s ease-in-out;
	@include MDShadow-1;
	&.is-active {
		transform: translate(-70%, -50%);
		@include MDShadow-4;
	}
	&__list {}
	&__item {
		display: block;
		font-family: $second-font;
		font-size: 18px;
		line-height: 28px;
		text-decoration: none;
		color: $second-elm;
		padding: 10px 0 10px 15px;
		border-left: solid 4px transparent;
		box-shadow: 0 0 10px transparent;
		transition: .2s ease-in-out;
		&:hover {
			color: $slider-elms;
			background: white;
			border-color: $slider-elms;
			@include MDShadow-2;
		}
		&_active {
			font-family: $second-font;
			color: $slider-elms;
			border-left: solid 4px $slider-elms;
		}
		&_clear {
			height: 48px;
			cursor: auto;
			&:hover {
				color: $slider-elms;
				background: transparent;
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}
